<nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
  <a class="navbar-brand border-right border-primary pr-3 text-uppercase" disable>crétacé park</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home" routerLinkActive="active" >Home</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">Dinosaurs</a>
        </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/parks" routerLinkActive="active">Parks</a>
      </li>
    </ul>
    <div class="form-inline my-2 my-lg-0">
      <a class="btn btn-light border-primary my-2 my-sm-0" routerLink="/add-dinosaur">Add Dinosaur</a>
    </div>
  </div>
</nav>